/*  - цвет основного текста - #757575;
    - цвет заголовков - #212121;
    - акцент #2196F3; */

:root {
    --primary-text-color: #757575; ; 
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --main-font: Roboto, sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --font-style: normal;
}

*,
::before,
::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box
}

.container {
    width: 1200;
    padding: 0 15px;
    margin: 0 auto;
}

/*============ STUDIA (index)===========*/
/* ============  BODY  ============*/
.body {
    max-width: 1600px;
    margin: auto;
    font-family: var(--main-font);
    font-style: normal;

}

/* Утилиты */
.list {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
  
}

.nav-container {
display: flex;
align-items: center;
margin: auto;
width: 1200px;
padding: 0 15px;
}
    
    
/*============  LOGO  ============*/
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
   }

.logo-color {
    color: #000000;
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

/* ============  END LOGO  ============*/

/* ============  END BODY  ============*/

/*==========navigation==============*/

.navigation-list {
    display: flex;
    margin-right: auto;
    margin-left: 93px;
    
}


.navigation-list .item + .item {
    margin-left: 50px;
    text-decoration: none;
    list-style-type: none;
}

.address .item + .item {
    margin-left: 50px;
    text-decoration: none;
    list-style-type: none;
}

.navigation-list-link {
    display: block;
    font-family: var(--main-font);
    font-style: normal;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    color: var(--title-text-color);
    line-height: 1.14;
    letter-spacing: 0.02em;
}



.navigation-list-link:hover,
.navigation-list-link:focus,
.address-link-mail:hover,
.address-link-mail:focus,
.address-link-tel:hover  {
    color: var(--accent-color);
}

.address {
    display: flex;
}

.address-link-mail,
.address-link-tel {
    /* display: flex; */
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    }

.address .item:hover {
    fill: var(--accent-color);
}

.address .icon-envel{
    margin-right: 10px;

}

.address.icon-tel {
    fill: #757575
}





/*============ END NAVIGATION============*/

/*=========== HERO ==================*/

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: 
    linear-gradient(
        to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)),
    url(../images/header/header.jpg);
    background-color:#C4C4C4; 
}


.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero-title {
    width: 696px;
    height: 120px;
    margin: 200px 452px 30px 452px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button {
    width: 200px;
    height: 50px;
    color: var(--accent-color);
    margin: 0px 700px 200px 700px;
    border-radius: 4px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    color: white;
    background-color: var(--accent-color)

}

/*================ END HERO ===========*/

/*=========== ADVANTAGES ===========*/

.advantages {
    width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
    margin: 0 auto; 
    
}

.advantages-container {
    display: flex;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}

.advantages-container .item {
    width: 270px;
    
 }

.advantages-container .item::before {
    display: block;
    content: "";
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-position: center;
 }



 .item:nth-child(1)::before {
    background-image: url(../images/advantages/antena.svg);
}

.item:nth-child(2)::before {
    background-image: url(../images/advantages/clock.svg);
}
.item:nth-child(3)::before {
    background-image: url(../images/advantages/vector.svg);

}
.item:nth-child(4):before {
    background-image: url(../images/advantages/astronaut.svg);
}

.advantages-container .item + .item {
   width: 270px; 
   margin-left: 30px;
}

.advantages-title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--title-text-color);
}

.advantages-description {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/*=============== END ADVANTAGES ===========*/

/*===== WHAT WE DO========*/

.do-list {
    margin: 0 auto;
    }
.what-we-do-container {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
}

.what-we-do-container .item {
    display: flex;
    justify-content: center;
}

.what-we-do-container .item + .item {
    margin-left: 30px;
}

.what-we-do-list {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--title-text-color);
 }
 /*=====  END WHAT WE DO========*/

/*========= OUR TEAM ========*/

    
    .team {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #F5F4FA;
    padding-top: 94px;
    align-items: center;
}

.team-container {
    display: flex; 
    flex-direction: column;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 94px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
      
}

.team-title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    
    color: var(--title-text-color);
}

.team-list {
   display: flex; 
   align-items: center;
}

.team-element {
    text-align: center;
    background-color: #ffffff;
}
.team-container .team-element + .team-element {
    margin-left: 30px;
}

.team-photo {
    display: block;
}

.content {
    padding-top: 30px;
    border-radius: 0px 0px 4px 4px;
    
}
.team-member {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);

    margin-bottom: 10px;
}

.profession {
    display: block;
    margin-bottom: 16px;
    font-family: var(--main-font);
    font-style: 400;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}
/* Social links */

.social-list {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
}
.social-list .link {
    display: flex;
    width: 44px;
    height: 44px; 
    border-radius: 50%;
    /* background-color: #FFFFFF; */
    justify-content: center;
    align-items: center;
}
.social-list .item + .item {
    margin-left: 10px;
}

.social-list .icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
    cursor: pointer;
   
}
.social-list .link:hover {
    background-color: var(--accent-color);
    
}
.social-list .link:hover .icon{
    fill: #FFFFFF;
}





/*======== END OUR TEAM=======*/

 
/*=========== PORTFOLIO====== */
 

 /*============ filters for projects========*/

 .navigation {
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 200px;
    padding-right: 200px;
    }

 .container-nav {
     display: flex;
     width: 1200px;
     padding-right: 15px;
     padding-left: 15px;
     padding-top: 94px;
     padding-bottom: 50px;
     justify-content: center;
     align-items: center;
 }
 .portfolio-container {
    display: flex;
    width: 1200px;
    justify-content: center;
 }


.portfolio-btn {
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--title-text-color);
        
}


.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--accent-color);
    color: white;
}  

.portfolio-container .item + .item { 
    margin-left: 8px;
}

    /* ============  OUR PROJECTS  ============*/


.projects {
    max-width: 1600px;
    margin: 0 auto;
    } 


.project-title {
    display: block;
    margin-top: 4px;
    margin-bottom: 0px; 
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 94px;
    justify-content: center;
 }

 .pic {
    display: block;
}
.project-list .item {
    width: 370px;
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
       
}

.project-list .item:nth-child(3n) {
    margin-right: 0px;    
}

.project-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.project-list .item .article {
    display: block;
    width: 370px;
    height: 115px;
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}
    

.project-description { 
    display: block;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 0px;
    margin-top: 0px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

}
/* ============  END OUR PROJECTS  ============*/ 




/* ============  FOOTER  ============*/


.footer {
    max-width: 1600px;
    height: 252px;
    margin: 0 auto;
    background-color: #2F303A;
    }
 
.footer-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    align-items: flex-start;
         
}
.footer-logo {
    display: block;
    margin-bottom: 20px;
    padding-top: 60px;
}

.footer-logo-color {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF ;
    text-decoration: none;
}

.footer-logo-blue {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.footer-address-item  li {
    display: block;
    margin-bottom: 9px;
}
.footer-address-item-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-address-contact-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}
    
    /* ============  END FOOTER  ============*/

